<%= form_for form, as: form.param_name, url: search_url, method: :get, html: { enforce_utf8: false, class: 'task-search' } do |f| %>
  <div class="row row-no-margin">
    <div class="col s12">
      <div class="row row-no-margin">
        <div class="col s3 input-field">
          <i class="material-icons prefix">access_time</i>
          <%= f.label :from_date %>
          <%= f.date_field :from_date, class: 'datepicker', data: { value: form.from_date } %>
        </div>
        <div class="col s3 input-field">
          <i class="material-icons prefix">access_time</i>
          <%= f.label :to_date %>
          <%= f.date_field :to_date, class: 'datepicker', data: { value: form.to_date } %>
        </div>
        <div class="col s6 input-field">
          <i class="material-icons prefix">local_offer</i>
          <%= f.label :tag_words, class: 'tags-input' %>
          <%= f.text_field :tag_words, placeholder: t('tasks.new.tag_words_guide'), id: 'task_tag_words' %>
        </div>
      </div>
      <div class="row row-no-margin">
        <div class="col s3 offset-s3 input-field">
          <%= f.select :completion_state, %w(any completed uncompleted).map { |key| [t("activemodel.attributes.task_criteria_form.completion_status.#{key}"), key] }, {}, class: 'browser-default' %>
        </div>
        <div class="col s4 input-field">
          <%= f.check_box :is_signed_up_only, class: 'filled-in' %>
          <%= f.label :is_signed_up_only, id: 'c_is_signed_up_only_label' %>
        </div>
        <div class="col s2 actions">
          <button class="waves-effect waves-light btn-flat" type="submit">
            <%= t('search.index.actions.search') %>
            <i class="material-icons left">filter_list</i>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end -%>
