<div id="<%= task_css_id(task.id) %>" class="compact task-summary-primary">
  <div class="row row-no-margin">
    <div class="col s2">
      <div class="completion-action">
        <%= render partial: 'tasks/task_completion', locals: { task: task } %>
      </div>
      <span class="task-completed-on">
        <%= render partial: 'search/task_timestamp', locals: { task: task } %>
      </span>
    </div>
    <div class="col s10">
      <%= render partial: 'tasks/task_tags', locals: { tags: task.tags } %>
      <%= link_to task.title, task_url(task), class: 'task-title' %>
    </div>
  </div>
</div>
