<div id="<%= task_css_id(task.id) %>" class="task-summary task-summary-primary">
  <div class="row row-no-margin">
    <div class="col s1" id="<%= task_completion_css_id(task.id) %>">
      <%= render partial: 'tasks/task_completion', locals: { task: task } %>
    </div>
    <div class="col s9">
      <div class="row row-no-margin">
        <div class="col s12 tags-avatars">
          <div class="row row-no-margin">
            <%= render partial: 'tasks/task_tags', locals: { tags: task.tags } %>
            <div class="task-assignees">
              <%= render partial: 'tasks/task_assignees', locals: { task: task } %>
            </div>
          </div>
        </div>
        <div class="col s12 task-main">
          <%= link_to task.title, task_url(task), class: 'task-title' %>
        </div>
      </div>
    </div>
    <div class="col s2 task-actions">
      <%= link_to todays_tasks_url(task_id: task.id), method: :post, class: 'move-to-todays-task tooltipped', data: { tooltip: t('helpers.actions.move_to_todays_task') } do %>
        <i class="material-icons">send</i>
      <% end -%>
      <%= render partial: 'tasks/task_actions', locals: { task: task, cancel_sign_up_available: false, remote: true } %>
    </div>
  </div>
</div>
