<div id="task_<%= task.id %>" class="task-summary task-summary-primary">
  <div class="row row-no-margin">
    <div class="col s1" id="task_<%= task.id %>_completion_state">
      <%= render partial: 'tasks/task_completion', locals: { task: task } %>
    </div>
    <div class="col s10">
      <div class="tags">
        <% task.tags.each do |tag| %>
          <%= tag.present(self) %>
        <% end -%>
      </div>
      <%= link_to task.title, task_url(task), class: 'task-title' %>
    </div>
    <div class="col s1 task-actions">
      <%= render partial: 'tasks/task_actions', locals: { task: task } %>
    </div>
  </div>
</div>
