<% task_deletion_modal_id = "task-deletion-modal-#{task.id}" -%>
<%= link_to '#!', class: 'dropdown-button', data: { activates: "task-actions-#{task.id}", constrainWidth: false, beloworigin: true } do %>
  <i class="material-icons">more_vert</i>
<% end -%>
<ul id="task-actions-<%= task.id -%>" class="dropdown-content">
  <li>
    <%= link_to edit_task_url(task.id), data: { no_turbolink: true } do %>
      <%= t('helpers.actions.edit') %>
      <i class="material-icons left">edit</i>
    <% end -%>
  </li>
  <li class="divider"></li>
  <li>
    <%= link_to "##{task_deletion_modal_id}", class: 'modal-trigger' do %>
      <%= t('helpers.actions.remove') %>
      <i class="material-icons left">delete</i>
    <% end -%>
  </li>
</ul>
<% unless task.assigned?(current_user) %>
  <%= link_to assign_task_url(task.id), method: :put, remote: true, class: 'assign_myself tooltipped', data: { tooltip: t('helpers.actions.assign_myself') } do %>
    <i class="material-icons">account_circle</i>
  <% end -%>
<% end -%>
<div id="<%= task_deletion_modal_id %>" class="modal">
  <div class="modal-content">
    <h5 class="danger"><i class="material-icons icon-heading">delete</i><%= t('activemodel.messages.task_deletion.confirm') %></h5>
    <p><%= task.title %></p>
  </div>
  <div class="modal-footer">
    <%= link_to t('helpers.submit.continue'), task_url(task.id), method: :delete, remote: remote, class: 'modal-action modal-close waves-effect btn-flat' %>
    <%= link_to t('helpers.submit.cancel'), '#!', class: 'modal-action modal-close waves-effect btn-flat' %>
  </div>
</div>
