<% task_main_grid_size = show_schedule_actions ? 9 : 10 %>
<div id="<%= task_css_id(task.id) %>" class="task-summary task-summary-primary">
  <div class="row row-no-margin">
    <div class="col s1" id="<%= task_completion_css_id(task.id) %>">
      <%= render partial: 'tasks/task_completion', locals: { task: task } %>
    </div>
    <div class="col s<%= task_main_grid_size %>">
      <div class="row row-no-margin">
        <div class="col s12 tags-avatars">
          <div class="row row-no-margin">
            <%= render partial: 'tasks/task_tags', locals: { tags: task.tags } %>
            <div class="task-assignees">
              <%= render partial: 'tasks/task_assignees', locals: { task: task } %>
            </div>
          </div>
        </div>
        <div class="col s12 task-main">
          <span class="deadline"><%= l(task.deadline, format: :short) %></span>
          <%= link_to task.title, task_url(task), class: 'task-title' %>
        </div>
      </div>
    </div>
    <% if show_schedule_actions -%>
      <%= render partial: 'home/task_schedule_actions', locals: { task: task, todays_task: todays_task } %>
    <% end -%>
    <div class="col s1 task-actions">
      <%= render partial: 'tasks/task_actions', locals: { task: task, cancel_sign_up_available: false, remote: true } %>
    </div>
  </div>
</div>
