<%= content_for(:navigation_title, t('.navigation_title')) %>
<%= content_for(:page_title, t('.page_title')) %>
<%= content_for(:navigation_size, 's10') %>
<div class="col s10">
  <div class="container-float container-primary">
    <%= form_for @command, url: task_url(@command.task_id), method: :put do |f| %>
      <%= render partial: 'layouts/errors', locals: { errors: @command.errors } %>
      <div class="input-field for-tags-input">
        <i class="material-icons prefix">local_offer</i>
        <%= f.label :tag_words, class: 'tags-input' %>
        <%= f.text_field :tag_words, { id: 'task_tag_words' } %>
      </div>
      <div class="input-field">
        <i class="material-icons prefix">subject</i>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="input-field">
        <i class="material-icons prefix">note_add</i>
        <%= f.label :description %>
        <%= f.text_area :description, class: 'materialize-textarea' %>
      </div>
      <div class="col s6 input-field">
        <i class="material-icons prefix">access_time</i>
        <%= f.label :deadline_date %>
        <%= f.date_field :deadline_date, class: 'datepicker' %>
      </div>
      <div class="col s4">
        <div class="row">
          <div class="col s5 input-field">
            <%= f.select :deadline_hour, (0..23).map { |h| [sprintf("%02d", h), h] }, {}, class: 'browser-default' %>
          </div>
          <div class="col s1 center">
            <span class="time-separator">:</span>
          </div>
          <div class="col s5 input-field">
            <%= f.select :deadline_minutes, [0, 15, 30, 45].map { |m| [sprintf("%02d", m), m] }, {}, class: 'browser-default' %>
          </div>
        </div>
      </div>
      <div class="actions">
        <button class="waves-effect waves-light btn-flat" type="submit" name="action">
          <%= t('helpers.submit.update') %>
          <i class="material-icons left">send</i>
        </button>
      </div>
    <% end %>
  </div>
</div>
<div class="fixed-action-btn">
  <%= link_to request.referrer, class: 'btn-floating btn-large waves-effect waves-light back-link' do %>
    <i class="large material-icons">keyboard_arrow_left</i>
  <% end -%>
</div>
