<%= content_for(:navigation_title, t('.navigation_title')) %>
<%= content_for(:page_title, t('.page_title')) %>
<div class="col s10">
  <div class="container-float container-primary">
    <%= form_for @command, as: :task_parameters, url: tasks_url do |f| %>
      <%= render partial: 'layouts/errors', locals: { errors: @command.errors } %>
      <div class="input-field for-tags-input">
        <i class="material-icons prefix">local_offer</i>
        <%= f.label :tag_words, class: 'tags-input' %>
        <%= f.text_field :tag_words, placeholder: t('.tag_words_guide'), id: 'task_tag_words' %>
      </div>
      <div class="input-field">
        <i class="material-icons prefix">subject</i>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="input-field">
        <i class="material-icons prefix">note_add</i>
        <%= f.label :description %>
        <%= f.text_area :description, class: 'materialize-textarea' %>
      </div>
      <div class="actions">
        <button class="waves-effect waves-light btn-flat" type="submit" name="action">
          <%= t('helpers.submit.create') %>
          <i class="material-icons left">send</i>
        </button>
      </div>
    <% end %>
  </div>
</div>
<div class="fixed-action-btn">
  <%= link_to root_url, class: 'btn-floating btn-large waves-effect waves-light' do %>
    <i class="large material-icons">keyboard_arrow_left</i>
  <% end -%>
</div>
