<%= content_for(:page_title) { t('.page_title') } %>
<%= content_for(:page_icon) { 'mode_edit' } %>
<div class="col s10">
  <div class="primary-container">
    <%= form_for @command, url: tasks_url do |f| %>
      <%= render partial: 'layouts/errors', locals: { errors: @command.errors } %>
      <div class="input-field for-tags-input">
        <i class="material-icons prefix">local_offer</i>
        <%= f.label :tag_words, class: 'tags-input' %>
        <%= f.text_field :tag_words, placeholder: t('.tag_words_guide') %>
      </div>
      <div class="input-field">
        <i class="material-icons prefix">subject</i>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="input-field">
        <i class="material-icons prefix">note_add</i>
        <%= f.label :description %>
        <%= f.text_area :description, class: 'materialize-textarea' %>
      </div>
      <div class="actions">
        <button class="waves-effect waves-light btn-flat" type="submit" name="action">
          <%= t('helpers.submit.create') %>
          <i class="material-icons left">send</i>
        </button>
      </div>
    <% end %>
  </div>
</div>
