<%= content_for(:navigation_title, t('.navigation_title')) %>
<%= content_for(:page_title, t('.page_title')) %>
<%= content_for(:navigation_size, 's10') %>
<div id="<%= task_css_id(@task.id) %>" class="col s10">
  <div class="container-float container-primary">
    <div class="row row-no-margin">
      <div class="col s1" id="<%= task_completion_css_id(@task.id) %>">
        <%= render partial: 'tasks/task_completion', locals: { task: @task } %>
      </div>
      <div class="col s10 task-detail">
        <div class="tags">
          <% @task.tags.each do |tag| %>
            <%= tag.present(self) %>
          <% end -%>
        </div>
        <div class="task-deadline">
          <%= @task.timestamp %>
        </div>
        <h1 class="task-title"><%= @task.title %></h1>
        <div class="task-assignees">
          <%= render partial: 'tasks/task_assignees', locals: { task: @task } %>
        </div>
        <% if @task.description -%>
          <div class="task-description markdown-body">
            <div class="divider"></div>
            <div id="task-description-content"><%= @task.description %></div>
          </div>
        <% end -%>
      </div>
      <div class="col s1 task-actions">
        <%= render partial: 'tasks/task_actions', locals: { task: @task, cancel_sign_up_available: true, remote: false } %>
      </div>
    </div>
  </div>
</div>
<div class="fixed-action-btn">
  <%= link_to previous_url_for_task, data: { no_turbolink: true }, class: 'btn-floating btn-large waves-effect waves-light' do %>
    <i class="large material-icons">keyboard_arrow_left</i>
  <% end -%>
</div>
