<%= content_for(:page_title) { t('.page_title') } %>
<%= content_for(:page_icon) { 'description' } %>
<div class="col s9">
  <div class="primary-container">
    <div class="tags">
      <% if @task.tags.any? %>
        <% @task.tags.each do |tag| %>
          <div class="tag"><%= tag %></div>
        <% end -%>
      <% else -%>
        <div class="tag tag-personal"><%= t('tasks.show.tag_personal') %></div>
      <% end -%>
    </div>
    <h5 class="task_title"><%= @task.title %></h5>
    <% if @task.description.present? -%>
      <div class="divider"></div>
    <% end -%>
    <%= simple_format(h(@task.description), class: 'task_description') %>
  </div>
</div>
