<%= form_for form, as: form.param_name, url: achievements_url, method: :get, html: { enforce_utf8: false, class: 'achievement-search' } do |f| %>
  <div class="row row-no-margin">
    <div class="col s12">
      <div class="row row-no-margin">
        <div class="col s2 input-field">
          <i class="material-icons prefix">access_time</i>
          <%= f.label :from_date %>
          <%= f.date_field :from_date, class: 'datepicker', data: { value: form.from_date } %>
        </div>
        <div class="col s2 input-field">
          <i class="material-icons prefix">access_time</i>
          <%= f.label :to_date %>
          <%= f.date_field :to_date, class: 'datepicker', data: { value: form.to_date } %>
        </div>
        <div class="col s6 input-field">
          <i class="material-icons prefix">local_offer</i>
          <%= f.label :tag_words, class: 'tags-input' %>
          <%= f.text_field :tag_words, placeholder: t('tasks.new.tag_words_guide'), id: 'task_tag_words' %>
        </div>
        <div class="col s2 actions">
          <button class="waves-effect waves-light btn-flat" type="submit">
            <%= t('achievements.index.actions.search') %>
            <i class="material-icons left">filter_list</i>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end -%>
