<%= form_for form, as: form.param_name, url: achievements_url, method: :get, html: { enforce_utf8: false, class: 'inline' } do |f| %>
  <div class="row row-no-margin">
    <div class="col s2">
      <span class="label">
        <i class="material-icons">access_time</i>
        <%= t('achievements.index.conditions.term') %>
      </span>
    </div>
    <div class="col s3">
      <%= f.date_field :from_date, class: 'datepicker', data: { value: form.from_date } %>
    </div>
    <div class="col s1 center">
      <span class="label">〜</span>
    </div>
    <div class="col s3">
      <%= f.date_field :to_date, class: 'datepicker', data: { value: form.to_date } %>
    </div>
    <div class="col s3 actions">
      <button class="waves-effect waves-light btn-flat" type="submit">
        <%= t('achievements.index.actions.search') %>
        <i class="material-icons left">filter_list</i>
      </button>
    </div>
  </div>
<% end -%>
