<%= form_for command, as: command.param_name, url: achievements_url, method: :get, html: { enforce_utf8: false } do |f| %>
  <div class="row row-no-margin">
    <div class="col s4">
      <%= f.date_field :from_date, class: 'datepicker', data: { value: command.from_date } %>
    </div>
    <div class="col s1 center" style="line-height: 4rem;">
      〜
    </div>
    <div class="col s4">
      <%= f.date_field :to_date, class: 'datepicker', data: { value: command.to_date } %>
    </div>
    <div class="col s3 actions actions-inline">
      <% if command.has_condition? -%>
        <%= link_to achievements_url, class: 'waves-effect waves-light btn-flat' do %>
          <%= t('achievements.index.actions.reset') %>
          <i class="material-icons left">cancel</i>
        <% end -%>
      <% else -%>
        <button class="waves-effect waves-light btn-flat" type="submit">
          <%= t('achievements.index.actions.search') %>
          <i class="material-icons left">filter_list</i>
        </button>
      <% end -%>
    </div>
  </div>
<% end -%>
