<div id="<%= task_css_id(task.id) %>" class="achievement task-summary-primary">
  <div class="row row-no-margin">
    <div class="col s2">
      <%= link_to cancel_completion_task_url(task), method: :put, class: 'cancel-completion tooltipped', data: { tooltip: t('helpers.actions.cancel_completion') } do %>
        <i class="material-icons">done</i>
      <% end -%>
      <span class="task-completed-on"><%= l(task.completed_on, format: :default) %></span>
    </div>
    <div class="col s10">
      <%= render partial: 'tasks/task_tags', locals: { tags: task.tags } %>
      <%= link_to task.title, task_url(task), class: 'task-title' %>
    </div>
  </div>
</div>
