<%= content_for(:navigation_title, t('.navigation_title')) %>
<%= content_for(:page_title, t('.page_title')) %>
<div class="col s12">
  <div class="container-float-slim container-primary">
    <%= render partial: 'search_form', locals: { command: @command } %>
  </div>
  <div class="section-header section-header-default">
    <div class="nav-wrapper">
      <span class="title"><%= @tasks.size %>件完了しました</span>
    </div>
  </div>
  <div class="task-summary-list-primary">
    <% @tasks.each do |task| %>
      <%= render partial: 'task', locals: { task: task } %>
    <% end %>
  </div>
</div>
