<!DOCTYPE html>
<html>
<head>
  <title>BubbleTask</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/flashes' %>
  <%= render 'layouts/application_bar' %>
  <main>
    <div class="container">
      <!-- page navigation -->
      <div class="row row-no-margin">
        <div class="col s12">
          <nav class="page-navigation page-navigation-default">
            <div class="nav-wrapper">
              <span class="page-navigation-title"><%= content_for(:page_title) || 'Bubble Task' %></span>
            </div>
          </nav>
        </div>
      </div>
      <!-- page navigation -->
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </main>
</body>
</html>
